@import "./../../App.scss";

.menuOffcanvas {
  .nav-link {
    font-size: 18px;
    font-weight: bold;
    color: $third_color;
    &:hover {
      color: $primary_color;
    }
  }
  .nav-link.active {
    color: $primary_color;
  }
}
