@import "./../../App.scss";
@import "./../../breakpoints.scss";

.navbarTopYeshtery {
  background-color: $primary_color;
  span {
    color: $four_color;
    a {
      text-decoration: underline;
    }
    @include xs {
      font-size: 12px;
    }
  }
  a {
    text-decoration: none;
    font-size: 14px;
    color: $third_color;
    @include xs {
      font-size: 11px;
    }
  }
}
